<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="body">
    <div id="main"></div>
    <div class="btn">btn</div>
    <audio id="audio" controls>
        <source src="./audio/sample.mp3" type="audio/mp3">
        このWebブラウザーは音声の再生に対応していません。
    </audio>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
//      var socket = io.connect('http://myonlyherokuapp.herokuapp.com/'),
      var socket   = io.connect('http://localhost:3000/'),
          s        = socket.of('/socket'),
          mainElem = document.getElementById('main'),
          audio    = document.getElementById('audio'),
          clickEvt = window.ontouchend === null ? 'touchend' : 'click';

      s.on('connect', function(msg) {
          console.log('connected');
      });

      s.on('musicsync', function(state) {
          if (state === 'on') {
            audio.play();
          }
      });

      window.addEventListener('resize', function() {
        resizeWindow();
      });

    document.addEventListener(clickEvt, function() {
        s.emit('musicsync', 'on');
    });

      function resizeWindow() {
        document.body.style.height = window.innerHeight + 'px';
      }

      resizeWindow();
    </script>
  </body>
</html>
