<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="body">
    <div id="main"></div>
    <a id="btn" href="javascript:void(0)">BTN</a>
    <br>
    <br>
    <audio id="audio" controls>
        <source src="./audio/sample.mp3" type="audio/mp3">
        このWebブラウザーは音声の再生に対応していません。
    </audio>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var path     = (location.hostname.match('localhost')) ? 'http://localhost:3000/' : 'http://myonlyherokuapp.herokuapp.com/',
          socket   = null,
          s        = null,
          mainElem = document.getElementById('main'),
          audio    = document.getElementById('audio'),
          clickEvt = window.ontouchend === null ? 'touchend' : 'click';

        socket = io.connect(path);
        s      = socket.of('/socket');

      s.on('connect', function(msg) {
          console.log('connected');
      });

      s.on('add', function(obj) {
        console.log(obj);
      });

      s.on('msync', function(state) {
          console.log('sync');
          if (state === 'on') {
            console.log('on');
            audio.play();
          }
      });

      window.addEventListener('resize', function() {
        resizeWindow();
      });

    document.getElementById('btn').addEventListener(clickEvt, function() {
        console.log('btn tapped');
        s.emit('msync', 'on');
        s.emit('add', 'push on');
    });

      function resizeWindow() {
        document.body.style.height = window.innerHeight + 'px';
      }

      resizeWindow();
    </script>
  </body>
</html>
